<template>
  <div>
    <h1>
      Dude <%=fullName%> is cool!
    </h1>

    <h2>Count: <%=count%></h2>
    <button type="button" onclick="doIncrement">Increment</button>
    <button type="button" onclick="doDecrement">Decrement</button>

    <br />
    <button type="button" onclick="showProp1"></button>
  </div>
</template>
