<div>
  <h1>
    Dude <%=fullName%> is cool!
  </h1>

  <h2>Count: <%=count%></h2>
  <button type="button" onclick="doIncrement">Increment</button>
  <button type="button" onclick="doDecrement">Decrement</button>

  <br />
  <br />
  <button type="button" onclick="showProp1">Клац!</button>

  <button type="button" onclick="changeName">Змінити ім'я!</button>

  <span><%= test %></span>
</div>
