{
    "presets": [
        "@babel/env",
        [
            "@babel/react",
            {
                "importSource": "yomayo/jsx",
                "pragma": "jsx.createElement",
                "pragmaFrag": "jsx.Fragment"
            }
        ]
    ]
}